body
{
  background-color: #dbcbbd;

}

div{
  background-color: #F1F3DE;
  margin-bottom: 0px;
  margin: 0;
  margin-top: 0px;

}
.hi{
  border-width:200px;
  height: 100px;
  background-color: #eb8f8f;

}
